/*animation*/

._fadeInLeft {
	opacity: 0;
	transform: translate3d(-50%, 0, 0);
	transition: all 1s ease 0.3s;
	&._active {
		opacity: 1;
		transform: none;
	}
}

._fadeInRight {
	opacity: 0;
	transform: translate3d(50%, 0, 0);
	transition: all 1s ease 0.3s;
	&._active {
		opacity: 1;
		transform: none;
	}
}

._fadeInBottom {
	opacity: 0;
	transform: translate3d(0, 30%, 0);
	transition: all 1s ease 0.3s;
}

._active {
	._fadeInBottom {
		opacity: 1;
		transform: none;
	}
}

@keyframes _cardFade {
	0% {

	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

/*animation end*/
